@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid Blue Spacer SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div class="container">
                <div class="row">
                    <div class="col-md my-auto">
                        <h4 class="Highlight">
                            Warwicks Removals are a North East family run business which is based in Morpeth and covers the whole of the UK.
                        </h4>
                        <p>
                            Your journey with us starts with a no obligation home survey and quote.
                            Priding ourselves on our professionalism and competitive prices, we can then provide a personal service tailored to your needs.
                        </p>
                    </div>
                    <div class="col-md">
                        <img src="/images/Vans.png" alt="We have a range of fully equiped vehicles" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid Boxes SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div class="container">
                <div class="row">
                    <div class="col-md text-center">
                        <h1 class="Strapline">
                            What do we do?
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="Strapline">
                            <i class="fas fa-check-circle"></i> Home Moves
                        </h4>
                        <p>
                            We will help you move to any address in the UK in a fully equipped vehicle.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="Strapline">
                            <i class="fas fa-check-circle"></i> Fully Insured
                        </h4>
                        <p>
                            Comprehensive insurance means your valuables are protected at all times.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="Strapline">
                            <i class="fas fa-check-circle"></i> Packing Services
                        </h4>
                        <p>
                            We can provide the labour and packaging for your belongings.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="Strapline">
                            <i class="fas fa-check-circle"></i> Commercial Removals
                        </h4>
                        <p>
                            We will help your business move go smoothly from A to B.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="Strapline">
                            <i class="fas fa-check-circle"></i> Man &amp; Van Service
                        </h4>
                        <p>
                            We also provide a straightforward man & van service for your everyday needs.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="Strapline">
                            <i class="fas fa-check-circle"></i> Storage
                        </h4>
                        <p>
                            If you need something stored, we have space for items large and small.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid Green SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div class="container">
                <div class="row">
                    <div class="col-md text-center">
                        <h1 class="Strapline">
                            Satisfied customers
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div id="CarouselTestimonials" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <blockquote class="blockquote d-flex align-items-center">
                                        <div class="container">
                                            <p class="mb-0">
                                                <i class="fas fa-quote-left"></i> Finding Warwicks Removals was my best move yet! From start to finish Stevie was extremely professional, efficient, helpful and accommodating. It was a pleasure to do business with him and I would not hesitate to recommend him to anyone contemplating a move. <i class="fas fa-quote-right"></i>
                                            </p>
                                            <footer class="blockquote-footer">Bev <cite title="Source Title">Morpeth to Ascot - July 2016</cite></footer>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="carousel-item">
                                    <blockquote class="blockquote d-flex align-items-center">
                                        <div class="container">
                                            <p class="mb-0">
                                                <i class="fas fa-quote-left"></i> Very reliable and friendly service. Fastest and smoothest removal I’ve ever had. Would definitely recommend to a friend. <i class="fas fa-quote-right"></i>
                                            </p>
                                            <footer class="blockquote-footer">Denise <cite title="Source Title">Morpeth to Dorset - May 2016</cite></footer>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="carousel-item">
                                    <blockquote class="blockquote d-flex align-items-center">
                                        <div class="container">
                                            <p class="mb-0">
                                                <i class="fas fa-quote-left"></i> Absolutely spot on service. Excellent communication. Great value for money, will definitely use again. Thanks for a job well done, Steve! <i class="fas fa-quote-right"></i>
                                            </p>
                                            <footer class="blockquote-footer">Maristo <cite title="Source Title">Gosforth to Newcastle - March 2016</cite></footer>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="carousel-item">
                                    <blockquote class="blockquote d-flex align-items-center">
                                        <div class="container">
                                            <p class="mb-0">
                                                <i class="fas fa-quote-left"></i> Warwicks Removals were great to work with, very polite, reliable and efficient. They took great care with some awkward items and tricky building access. An excellent service, will definitely be booking again for future jobs. Thanks! <i class="fas fa-quote-right"></i>
                                            </p>
                                            <footer class="blockquote-footer">Katy <cite title="Source Title">Jesmond to Newcastle - February 2016</cite></footer>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="carousel-item">
                                    <blockquote class="blockquote d-flex align-items-center">
                                        <div class="container">
                                            <p class="mb-0">
                                                <i class="fas fa-quote-left"></i> Reliable, professional, efficient and polite. <i class="fas fa-quote-right"></i>
                                            </p>
                                            <footer class="blockquote-footer">Cliff <cite title="Source Title">Morpeth to Heaton - January 2016</cite></footer>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="carousel-item">
                                    <blockquote class="blockquote d-flex align-items-center">
                                        <div class="container">
                                            <p class="mb-0">
                                                <i class="fas fa-quote-left"></i> Excellent service all round, would highly recommend. Great service with great care (blankets, straps etc), to ensure our items were transported securely. We will definitely be using again in the future, thank you! <i class="fas fa-quote-right"></i>
                                            </p>
                                            <footer class="blockquote-footer">Jenn <cite title="Source Title">Newcastle to Gateshead - January 2016</cite></footer>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="carousel-item">
                                    <blockquote class="blockquote d-flex align-items-center">
                                        <div class="container">
                                            <p class="mb-0">
                                                <i class="fas fa-quote-left"></i> A great service, clear communication, arrived on time, very friendly nothing was to much trouble, would definitely use again and no hesitation in giving a positive recommendation. <i class="fas fa-quote-right"></i>
                                            </p>
                                            <footer class="blockquote-footer">Anthony <cite title="Source Title">Durham to Heaton - November 2015</cite></footer>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="carousel-item">
                                    <blockquote class="blockquote d-flex align-items-center">
                                        <div class="container">
                                            <p class="mb-0">
                                                <i class="fas fa-quote-left"></i> I've used Warwicks Removals a number of times to transport artworks between exhibition venues - such a great service - friendly, efficient, reasonably priced and most importantly really careful in handling and packing the artworks they have moved. I totally recommend and will keep using! <i class="fas fa-quote-right"></i>
                                            </p>
                                            <footer class="blockquote-footer">Cath Campbell Studio <cite title="Source Title">Newcastle</cite></footer>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#CarouselTestimonials" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#CarouselTestimonials" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid White Spacer SpacerBottom" id="GetAQuote">
    <div class="row">
        <div class="col-md">
            <div class="container">
                <div class="row">
                    <div class="col-md text-center">
                        <h1 class="Strapline">
                            Get a quote
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md text-center" id="NewQuoteArea">
                        <h1 class="Spinner">
                            <i class="fas fa-spinner fa-spin"></i>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid Blue Spacer SpacerBottom GetInTouch">
    <div class="row">
        <div class="col-md">
            <div class="container">
                <div class="row">
                    <div class="col-md text-center">
                        <h1 class="Strapline">
                            Get in touch!
                        </h1>
                        <p>
                            You can either fill out the quote form (<a href="#GetAQuote">above</a>),<br />drop us an email at <a href="info@warwicksremovals.co.uk?subject=" Website%20Enquiry"><i class="fas fa-envelope-open-text"></i> info@warwicksremovals.co.uk</a><br />or give us a call on <a href="tel:01670 228 653"><i class="fas fa-phone"></i> 01670 228 653</a> or <a href="tel:07825 581 250"><i class="fas fa-mobile-alt"></i> 07825 581 250</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid White MapContainer">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2278.9831267791023!2d-1.7008083839708459!3d55.166071344556656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487e0af9bc6b1507%3A0x5d0ee63920e89b34!2s10%20Emily%20Davison%20Ave%2C%20Morpeth%20NE61%202PL!5e0!3m2!1sen!2suk!4v1602105614613!5m2!1sen!2suk" class="Map" allowfullscreen></iframe>
</div>

<div class="container-fluid White Spacer SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 my-auto">
                        <img src="/images/MoveAssured.jpg" alt="Move Assured - Accreditation for Independent Removers" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h4 class="Highlight">
                            Proud Member of <a href="https://www.moveassured.com/" target="_blank">Move Assured <i class="fas fa-external-link-alt"></i></a>, Providing Accreditation for Independent Removers
                        </h4>
                        <p>
                            Choosing a suitable removal company to move your cherished goods can be a source of stress at a time that should be exciting. <a href="https://www.moveassured.com/" target="_blank">Move Assured <i class="fas fa-external-link-alt"></i></a> are an organisation that specialises in promoting professional independent removal companies who take a personal interest in every move their company completes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
