<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Warwicks Removals | Morpeth's Removals and Storage Company</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <meta name="description" content="We are a local, family run business. We offer a fully insured removals service, highly competitive prices and FREE quotations." />
    <meta name="keywords" content="Furniture Removals Morpeth, Removals Morpeth, Home Removals Morpeth, House Removals Morpeth, Man &amp; Van Morpeth, removals, self storage, office relocation, moving house, man and van Man and Van, Packing, Packing Materials, National Removals, local removals" />

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" asp-append-version="true">

    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid White Spacer SpacerBottom">
        <div class="row">
            <div class="col-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md text-md-center mb-4 mb-md-0 TopLogo">
                            <img src="/images/WarwicksRemovalsLogo.png" alt="Warwicks Removals" class="d-block mx-auto mx-md-0" />
                        </div>
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md text-center SocialMedia">
                                    <a href="https://www.facebook.com/warwicksremovals" target="_blank" rel="noopener"><img src="/images/Facebook.png" alt="Facebook" /></a>
                                    <a href="https://twitter.com/warwicksremove" target="_blank" rel="noopener"><img src="/images/Twitter.png" alt="Twitter" /></a>
                                    <a href="mailto:info@warwicksremovals.co.uk?subject=Website%20Enquiry"><img src="/images/Email.png" alt="Email" /></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md text-center">
                                    <h3 class="TopTel"><a href="tel:01670 228 653"><i class="fas fa-phone"></i> 01670 228 653</a></h3>
                                    <h3 class="TopTel"><a href="tel:07825 581250"><i class="fas fa-mobile-alt"></i> 07825 581250</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container-fluid Black Footer">
        <div class="row">
            <div class="col-md">
                <footer class="footer text-center text-muted">
                    <i class="fas fa-copyright"></i> 2020-2021 - Warwicks Removals | Morpeth's Removals and Storage Company - Company Number: <i class="fas fa-hashtag"></i>11161136
                </footer>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/momentjs/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/lib/marked/marked.min.js" asp-append-version="true"></script>
    <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js" asp-append-version="true"></script>
    <script src="~/lib/ScrollMagic/ScrollMagic.min.js" asp-append-version="true"></script>

    <environment include="Development">
        <script src="~/lib/ScrollMagic/plugins/debug.addIndicators.js" asp-append-version="true"></script>
    </environment>

    <script src="~/js/modals.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
